### Customer Retention Prediction
• Introduction [10 marks]
o Background [1 paragraph of at least 6 lines]
o Research Problem [1 paragraph of at least 6 lines]
o Objectives [At least 3 SMART points]
o Hypothesis [At least 2 points]
• Methodology, Results and Discussion
o Data description [1 paragraph of at least 10 lines with variables described in a table] [10 marks]
✓ Source of data
✓ Period collected (year and month/day)
✓ How it was collected
✓ Under what conditions was it collected
o Exploratory data analytics [with visualizations and interpretations; new hind insights] [10
marks]
✓ Descriptive analytics
✓ Diagnostics analytics
o Data cleaning/pre-treatment for machine learning purpose. [10 marks]
o Predictive data analytics [with data science and machine learning models; new foresights] [15
marks]
• Conclusion [5 marks]

### Introduction

### Background
The telecommunication industry has seen significant growth over the past few decades, becoming a cornerstone of modern society. With the rise of mobile and internet services, customer retention has become a critical challenge for telecom companies. High customer churn rates not only affect profitability but also reflect customer dissatisfaction. Understanding the factors leading to customer churn and developing strategies to mitigate it are crucial for sustaining growth and competitiveness.

### Research Problem

In [4]:
import pandas as pd
import numpy as np
import pylab as pl
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [5]:
#Reading the file 
churn = pd. read_csv('telecom_customer_churn.csv')
churn.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [3]:
churn.info

<bound method DataFrame.info of      Customer ID  Gender  Age Married  Number of Dependents          City  \
0     0002-ORFBO  Female   37     Yes                     0  Frazier Park
1     0003-MKNFE    Male   46      No                     0      Glendale
2     0004-TLHLJ    Male   50      No                     0    Costa Mesa
3     0011-IGKFF    Male   78     Yes                     0      Martinez
4     0013-EXCHZ  Female   75     Yes                     0     Camarillo
...          ...     ...  ...     ...                   ...           ...
7038  9987-LUTYD  Female   20      No                     0       La Mesa
7039  9992-RRAMN    Male   40     Yes                     0     Riverbank
7040  9992-UJOEL    Male   22      No                     0           Elk
7041  9993-LHIEB    Male   21     Yes                     0  Solana Beach
7042  9995-HOTOH    Male   36     Yes                     0   Sierra City

      Zip Code   Latitude   Longitude  Number of Referrals  ...  \
0        93225  34.827662 -118.999073                    2  ...
1        91206  34.162515 -118.203869                    0  ...
2        92627  33.645672 -117.922613                    0  ...
3        94553  38.014457 -122.115432                    1  ...
4        93010  34.227846 -119.079903                    3  ...
...        ...        ...         ...                  ...  ...
7038     91941  32.759327 -116.997260                    0  ...
7039     95367  37.734971 -120.954271                    1  ...
7040     95432  39.108252 -123.645121                    0  ...
7041     92075  33.001813 -117.263628                    5  ...
7042     96125  39.600599 -120.636358                    1  ...

       Payment Method Monthly Charge Total Charges  Total Refunds  \
0         Credit Card          65.60        593.30           0.00
1         Credit Card          -4.00        542.40          38.33
2     Bank Withdrawal          73.90        280.85           0.00
3     Bank Withdrawal          98.00       1237.85           0.00
4         Credit Card          83.90        267.40           0.00
...               ...            ...           ...            ...
7038      Credit Card          55.15        742.90           0.00
7039  Bank Withdrawal          85.10       1873.70           0.00
7040      Credit Card          50.30         92.75           0.00
7041      Credit Card          67.85       4627.65           0.00
7042  Bank Withdrawal          59.00       3707.60           0.00

     Total Extra Data Charges Total Long Distance Charges Total Revenue  \
0                           0                      381.51        974.81
1                          10                       96.21        610.28
2                           0                      134.60        415.45
3                           0                      361.66       1599.51
4                           0                       22.14        289.54
...                       ...                         ...           ...
7038                        0                      606.84       1349.74
7039                        0                      356.40       2230.10
7040                        0                       37.24        129.99
7041                        0                      142.04       4769.69
7042                        0                        0.00       3707.60

      Customer Status   Churn Category                   Churn Reason
0              Stayed              NaN                            NaN
1              Stayed              NaN                            NaN
2             Churned       Competitor  Competitor had better devices
3             Churned  Dissatisfaction        Product dissatisfaction
4             Churned  Dissatisfaction            Network reliability
...               ...              ...                            ...
7038           Stayed              NaN                            NaN
7039          Churned  Dissatisfaction        Product dissatisfaction
7040           Joined              NaN                            NaN
7041           Stayed              NaN                            NaN
7042           Stayed              NaN                            NaN

[7043 rows x 38 columns]>

In [5]:
churn.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,6361.000000,5517.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,46.509726,0.468692,93486.070567,36.197455,-119.756684,1.951867,32.386767,25.420517,26.189958,63.596131,2280.381264,1.962182,6.860713,749.099262,3034.379056
std,16.750352,0.962802,1856.767505,2.468929,2.154425,3.001199,24.542061,14.200374,19.586585,31.204743,2266.220462,7.902614,25.104978,846.660055,2865.204542
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.010000,2.000000,-10.000000,18.800000,0.000000,0.000000,0.000000,21.360000
25%,32.000000,0.000000,92101.000000,33.990646,-121.788090,0.000000,9.000000,13.050000,13.000000,30.400000,400.150000,0.000000,0.000000,70.545000,605.610000
50%,46.000000,0.000000,93518.000000,36.205465,-119.595293,0.000000,29.000000,25.690000,21.000000,70.050000,1394.550000,0.000000,0.000000,401.440000,2108.640000
75%,60.000000,0.000000,95329.000000,38.161321,-117.969795,3.000000,55.000000,37.680000,30.000000,89.750000,3786.600000,0.000000,0.000000,1191.100000,4801.145000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000

In [6]:
churn.shape

(7043, 38)

In [8]:
churn = churn[['Total Charges', 'Customer Status', 'Churn Category', 'Churn Reason']]
churn['Customer Status'] = churn['Customer Status'].astype('str')
churn.head()

,Total Charges,Customer Status,Churn Category,Churn Reason
0,593.30,Stayed,NaN,NaN
1,542.40,Stayed,NaN,NaN
2,280.85,Churned,Competitor,Competitor had better devices
3,1237.85,Churned,Dissatisfaction,Product dissatisfaction
4,267.40,Churned,Dissatisfaction,Network reliability